body {
    padding-top: 1rem;
}

main {
    padding: 3rem 1.5rem;
    text-align: center;
}

.tm_text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    fill: white;
}

.axis text{
    font-family: "Adobe Caslon Pro";
    font-size: 15px;
    fill: #21dadd;
}

.axis line{
    stroke: #7cad2e;
}

.axis path{
    stroke: #7cad2e;
}
